@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

// Variables
$header-background-color: #333;
$primary-color: #fff;
$secondary-color: #666;
$background-color: #212121;
$link-color: #ab47bc;
$link-hover-color: #e1bee7;
$menu-open-background-color: rgba(0, 0, 0, .8);
$nav-link-hover-color: #ab47bc;
$hamburger-color: #fff;

body {
  background: $background-color;
  color: $primary-color;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

header .header {
  overflow-x: visible;
  width: 100vw;
}

.header {
  align-items: center;
  background-color: $header-background-color;
  display: flex;
  justify-content: space-between;
  position: fixed; // Make the header sticky
  transition: background-color .3s ease; // Add transition for background color
  z-index: 1000;

  .logo {
    .brand {
      font-family: "Open Sans", sans-serif;
      font-optical-sizing: auto;
      font-size: 1.5em;
      font-style: normal;
      font-variation-settings: "wdth" 100;
      font-weight: 800;
    }
  }

  .navigation {
    display: none;

    &.open {
      align-items: center;
      background-color: $menu-open-background-color;
      display: flex;
      height: 100%;
      justify-content: center;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 998;

      ul {
        opacity: 1;
        transform: translateY(0);
        transition: opacity .3s ease, transform .3s ease; // Add transitions for opacity and transform
      }
    }

    ul {
      list-style-type: none;
      margin: 0;
      opacity: 0;
      padding: 0;
      text-align: center;
      transform: translateY(-20px);

      li {
        margin-bottom: 20px;

        .nav-link {
          color: $primary-color;
          padding: 10px;
          text-decoration: none;
          transition: background-color .3s ease;

          &:hover {
            background-color: $nav-link-hover-color;
          }
        }
      }
    }
  }

  .hamburger {
    cursor: pointer;
    display: block;
    z-index: 999;

    span {
      background-color: $hamburger-color;
      display: block;
      height: 3px;
      margin-bottom: 5px;
      transition: transform .3s ease, opacity .3s ease; // Add transitions for transform and opacity
      width: 25px;
    }

    &.open {
      span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      span:nth-child(2) {
        opacity: 0;
      }

      span:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -8px);
      }
    }
  }

  @media (min-width: 768px) {
    .navigation {
      display: block;

      &.open {
        background-color: transparent;
        position: static;

        ul {
          opacity: 1;
          transform: translateY(0);
          transition: none;
        }
      }

      ul {
        display: flex;
        justify-content: flex-end;
        opacity: 1;
        transform: translateY(0);

        li {
          margin-bottom: 0;
          margin-left: 20px;
        }
      }
    }

    .hamburger {
      display: none;
    }
  }
}

.open-sans-titles {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-weight: 800;
}

.open-sans-nav-items {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-weight: 400;
}


@for $i from 1 through 20 {
  .animated-list-item:nth-child(#{$i}) {
    animation-delay: #{$i * .3}s;
  }
}

.animated-list-item {
  animation: fadeIn .5s ease-in-out forwards;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}